.headerBg {
  clip-path: polygon(
    0% 50%,
    13% 49%,
    27% 49%,
    42% 48%,
    52% 49%,
    63% 49%,
    74% 48%,
    84% 48%,
    95% 49%,
    100% 49%,
    100% 58%,
    100% 96%,
    98% 99%,
    1% 100%,
    0% 93%
  );
  width: 916px !important;
  margin-left: 270px;
  /* height: 511px; */
  top: -551px;
  opacity: 0.05;
  position: absolute;
}
